body {
  margin:0px;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u54_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:200px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:56px;
  width:512px;
  height:200px;
  display:flex;
  color:#000000;
}
#u54 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u54_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u55_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Consolas Bold', 'Consolas', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F59A23;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:79px;
  width:212px;
  height:28px;
  display:flex;
  font-family:'Consolas Bold', 'Consolas', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F59A23;
}
#u55 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u55_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u56_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Consolas Bold', 'Consolas', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F59A23;
  text-align:center;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:115px;
  width:470px;
  height:66px;
  display:flex;
  font-family:'Consolas Bold', 'Consolas', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F59A23;
  text-align:center;
}
#u56 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u56_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u57_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(245, 154, 35, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Consolas', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:195px;
  width:140px;
  height:40px;
  display:flex;
  font-family:'Consolas', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u57 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u57_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u58_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Consolas Bold', 'Consolas', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F59A23;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:201px;
  width:53px;
  height:28px;
  display:flex;
  font-family:'Consolas Bold', 'Consolas', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F59A23;
}
#u58 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u58_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u59_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Consolas Bold', 'Consolas', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F59A23;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:201px;
  width:80px;
  height:28px;
  display:flex;
  font-family:'Consolas Bold', 'Consolas', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F59A23;
}
#u59 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u59_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u61_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:200px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:256px;
  width:512px;
  height:200px;
  display:flex;
  color:#000000;
}
#u61 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u61_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u62_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Consolas Bold', 'Consolas', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F59A23;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:279px;
  width:212px;
  height:28px;
  display:flex;
  font-family:'Consolas Bold', 'Consolas', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F59A23;
}
#u62 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u62_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u63_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Consolas Bold', 'Consolas', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F59A23;
  text-align:center;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:315px;
  width:470px;
  height:66px;
  display:flex;
  font-family:'Consolas Bold', 'Consolas', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F59A23;
  text-align:center;
}
#u63 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u63_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u64_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(245, 154, 35, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Consolas', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:395px;
  width:140px;
  height:40px;
  display:flex;
  font-family:'Consolas', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u64 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u64_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u65_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Consolas Bold', 'Consolas', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F59A23;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:401px;
  width:53px;
  height:28px;
  display:flex;
  font-family:'Consolas Bold', 'Consolas', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F59A23;
}
#u65 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u65_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u66_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Consolas Bold', 'Consolas', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F59A23;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:401px;
  width:80px;
  height:28px;
  display:flex;
  font-family:'Consolas Bold', 'Consolas', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F59A23;
}
#u66 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u66_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u68_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:200px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:256px;
  top:456px;
  width:512px;
  height:200px;
  display:flex;
  color:#000000;
}
#u68 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u68_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u69_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Consolas Bold', 'Consolas', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F59A23;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:479px;
  width:212px;
  height:28px;
  display:flex;
  font-family:'Consolas Bold', 'Consolas', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F59A23;
}
#u69 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u69_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u70_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Consolas Bold', 'Consolas', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F59A23;
  text-align:center;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:277px;
  top:515px;
  width:470px;
  height:66px;
  display:flex;
  font-family:'Consolas Bold', 'Consolas', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F59A23;
  text-align:center;
}
#u70 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u70_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(245, 154, 35, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Consolas', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:595px;
  width:140px;
  height:40px;
  display:flex;
  font-family:'Consolas', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u71 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u71_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Consolas Bold', 'Consolas', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F59A23;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:601px;
  width:53px;
  height:28px;
  display:flex;
  font-family:'Consolas Bold', 'Consolas', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F59A23;
}
#u72 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u72_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u73_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Consolas Bold', 'Consolas', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F59A23;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:601px;
  width:80px;
  height:28px;
  display:flex;
  font-family:'Consolas Bold', 'Consolas', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F59A23;
}
#u73 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u73_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
  display:flex;
  color:#F59A23;
}
#u74 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u74_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
