body {
  margin:0px;
  background-color:rgba(0, 0, 0, 1);
  background-image:none;
  position:relative;
  left:0px;
  width:1024px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u107 label {
  left:0px;
  width:100%;
}
#u107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:17px;
  width:12px;
  height:12px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:97px;
  width:143px;
  height:46px;
  display:flex;
  font-family:'Consolas', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#F59A23;
}
#u107 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u107_img.selected {
}
#u107.selected {
}
#u107_img.disabled {
}
#u107.disabled {
}
#u107_img.selectedDisabled {
}
#u107.selectedDisabled {
}
#u107_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:127px;
  word-wrap:break-word;
  text-transform:none;
}
#u107_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u108 label {
  left:0px;
  width:100%;
}
#u108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:17px;
  width:12px;
  height:12px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:97px;
  width:144px;
  height:46px;
  display:flex;
  font-family:'Consolas', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#F59A23;
}
#u108 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u108_img.selected {
}
#u108.selected {
}
#u108_img.disabled {
}
#u108.disabled {
}
#u108_img.selectedDisabled {
}
#u108.selectedDisabled {
}
#u108_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:128px;
  word-wrap:break-word;
  text-transform:none;
}
#u108_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u110_input {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:34px;
  padding:2px 2px 2px 2px;
  font-family:'Consolas', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u110_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:34px;
  padding:2px 2px 2px 2px;
  font-family:'Consolas', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u110_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:34px;
  background:inherit;
  background-color:rgba(245, 154, 35, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Consolas', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:168px;
  width:336px;
  height:34px;
  display:flex;
  font-family:'Consolas', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u110 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u110_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:34px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Consolas', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u110.disabled {
}
.u110_input_option {
  font-weight:400;
  font-style:normal;
}
#u111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Consolas Bold', 'Consolas', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F59A23;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:222px;
  width:133px;
  height:32px;
  display:flex;
  font-family:'Consolas Bold', 'Consolas', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F59A23;
}
#u111 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u111_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u112_input {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u112_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:38px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normalny', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:38px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:219px;
  width:189px;
  height:38px;
  display:flex;
  color:#FFFFFF;
}
#u112 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u112_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:38px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u112.disabled {
}
#u113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(245, 154, 35, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Consolas', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:274px;
  width:140px;
  height:40px;
  display:flex;
  font-family:'Consolas', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u113 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u113_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u115_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Consolas', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u115_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Consolas', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Consolas', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:284px;
  width:300px;
  height:25px;
  display:flex;
  font-family:'Consolas', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u115 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u115_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Consolas', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u115.disabled {
}
#u116_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Consolas', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u116_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Consolas', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(85, 85, 85, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Consolas', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:204px;
  width:300px;
  height:25px;
  display:flex;
  font-family:'Consolas', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u116 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u116_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(245, 154, 35, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Consolas', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u116.disabled {
}
#u117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Consolas Bold', 'Consolas', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F59A23;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:252px;
  width:179px;
  height:22px;
  display:flex;
  font-family:'Consolas Bold', 'Consolas', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F59A23;
}
#u117 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u117_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u118_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Consolas Bold', 'Consolas', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F59A23;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:168px;
  width:139px;
  height:22px;
  display:flex;
  font-family:'Consolas Bold', 'Consolas', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#F59A23;
}
#u118 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u118_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u119_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(245, 154, 35, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Consolas', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:333px;
  width:140px;
  height:40px;
  display:flex;
  font-family:'Consolas', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u119 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u119_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:22px;
  display:flex;
  color:#F59A23;
}
#u120 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u120_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
